/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

.right{
    text-align: right;
}

img{
    width: 100%;
}

/* HEADER */
header{
    padding: 20px 0;
    background-color: #2c3e4f;
    color: white;
    text-transform: uppercase;
}

header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul li{
    display: inline-block;
    padding-right: 25px;
}


/* Titolo */
header .titolo-start{
    font-size: 25px;
    font-weight: 700;
}
/* Hamburger menu */
header .hamburger{
    font-size: 25px;
}

/* Ul-menu */
header .ul-menu{
    font-size: 18px;
    font-weight: 700;
}

/* MAIN */

/* Main-top */
.main-top{
    background-color: #19bc9c;
    text-transform: uppercase;
    color: white;
}

/* Avatar */
.main-top .avatar{
    margin-top: 40px;
    width: 40%;
    height: 40%;
}

@media all and (min-width:768px) {
    .main-top .avatar{
        width: 25%;
        height: 25%;
    }
}

/* Titolo */
.main-top h1{
    font-weight: 800;
    margin-top: 25px;
}

/* Stella e linee */
.main-top .linea{
    width: 65px;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}

@media all and (min-width:768px) {
    .main-top .linea{
        width: 85px;
    }
}

@media all and (min-width:992px) {
    .main-top .linea{
        width: 95px;
    }
}

.main-top .stella{
    font-size: 35px;
    margin: 0 15px;
}

@media all and (min-width:768px) {
    .main-top .stella{
        font-size: 25px;
    }
}

/* Qualifiche */
.main-top .qualifiche{
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 40px;
}

.main-top .linea-2{
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: white;
    border-radius: 20px;
    vertical-align: middle;
}