/* COMMON */
.right{
    text-align: right;
}

img{
    width: 100%;
}

.padd{
    padding-bottom: 30px;
}

.center{
    text-align: center;
}

/* HEADER */
header{
    padding: 20px 0;
    background-color: #2c3e4f;
    color: white;
    text-transform: uppercase;
}

header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul li{
    display: inline-block;
    padding-right: 25px;
}


/* Titolo */
header .titolo-start{
    font-size: 25px;
    font-weight: 700;
}
/* Hamburger menu */
header .hamburger{
    font-size: 25px;
}

/* Ul-menu */
header .ul-menu{
    font-size: 18px;
    font-weight: 700;
}

/* MAIN */

/* Main-top */
.main-top{
    background-color: #19bc9c;
    text-transform: uppercase;
    color: white;
}

/* Avatar */
.main-top .avatar{
    margin-top: 40px;
    width: 40%;
    height: 40%;
}

@media all and (min-width:768px) {
    .main-top .avatar{
        width: 25%;
        height: 25%;
    }
}

/* Titolo */
.main-top h1{
    font-weight: 800;
    margin-top: 25px;
}

/* Stella e linee */
.main-top .linea{
    width: 65px;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}

@media all and (min-width:768px) {
    .main-top .linea{
        width: 85px;
    }
}

@media all and (min-width:992px) {
    .main-top .linea{
        width: 95px;
    }
}

.main-top .stella{
    font-size: 35px;
    margin: 0 15px;
}

@media all and (min-width:768px) {
    .main-top .stella{
        font-size: 25px;
    }
}

/* Qualifiche */
.main-top .qualifiche{
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 40px;
}

.main-top .linea-2{
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: white;
    border-radius: 20px;
    vertical-align: middle;
}

/* Portfolio */
.portfolio{
    margin-top: 30px;
    text-transform: uppercase;
    color: #2c3e4f;
}

/* Titolo portfolio */
.portfolio h2{
    font-weight: 800;
    font-size: 25px;
}
/* Linee e stella */
.portfolio .stella{
    font-size: 35px;
    margin: 0 15px;
    color: #2c3e4f;
}

@media all and (min-width:768px) {
    .portfolio .stella{
        font-size: 25px;
    }
}

.portfolio .linea{
    width: 65px;
    height: 3px;
    background-color: #2c3e4f;
    border-radius: 20px;
}

@media all and (min-width:768px) {
    .portfolio .linea{
        width: 85px;
    }
}

@media all and (min-width:992px) {
    .portfolio .linea{
        width: 95px;
    }
}

/* Box immagini */
.portfolio .box{
    width: 90%;
    margin: 20px auto;
}

.portfolio .box img{
    border-radius: 20px;
}

/* Main-bottom */
.main-bottom{
    background-color: #19bc9c;
    color: white;
    padding: 30px 0;
}

/* Titolo */
.main-bottom h2{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

/* Stella e linee */
.main-bottom .stella{
    font-size: 35px;
    margin: 0 15px;
    color: white;
}

@media all and (min-width:768px) {
    .main-bottom .stella{
        font-size: 25px;
    }
}

.main-bottom .linea{
    width: 65px;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}

@media all and (min-width:768px) {
    .main-bottom .linea{
        width: 85px;
    }
}

@media all and (min-width:992px) {
    .main-bottom .linea{
        width: 95px;
    }
}

/* Paragrafi */
.main-bottom .paragraph{
    width: 60%;
    margin: 10px auto;
}

@media all and (min-width:768px) {
    .main-bottom .paragraph{
        width: 50%;
    }
}

/* Download-button */
.main-bottom .download-button{
    margin-top: 10px;
}

.main-bottom .download-button a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px 12px;
}

/* CONTACT ME */
.contact-me{
    margin-top: 40px;
}
/* Titolo */
.contact-me h2{
    font-weight: 800;
    text-transform: uppercase;
}
/* Stella e linea */
.contact-me .stella{
    font-size: 35px;
    margin: 0 15px;
    color: #2c3e4f;
}

@media all and (min-width:768px) {
    .contact-me .stella{
        font-size: 25px;
    }
}

.contact-me .linea{
    width: 65px;
    height: 3px;
    background-color: #2c3e4f;
    border-radius: 20px;
}

@media all and (min-width:768px) {
    .contact-me .linea{
        width: 85px;
    }
}

@media all and (min-width:992px) {
    .contact-me .linea{
        width: 95px;
    }
}

/* Riga */
.contact-me .riga{
    margin-top: 30px;
    color: #2c3e4f;
}

.contact-me .border-b{
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.contact-me .message{
    padding-bottom: 80px;
}

/* Send Button */
.contact-me .send-button a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: #19bc9c;
    padding: 10px 16px;
    border-radius: 6px;
}

/* FOOTER */

/* Top footer */
footer .top-footer{
    margin-top: 40px;
    padding-top: 30px;
    background-color: #3b536d;
    color: white;
    font-weight: 700;
}

/* Top-footer titoli */
@media all and (min-width:768px) {
    .top-footer .top-footer-titles{
        font-size: 20px;
    }
}

/* Top-footer testo */
@media all and (min-width:768px) {
    .top-footer .top-footer-text{
        font-size: 13px;
    }
}

/* Icone */
.top-footer .icone{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
}

/* Colore diverso */
.top-footer .change-color{
    color: #19bc9c;
}

/* Bottom footer */
footer .bottom-footer{
    background-color: #2c3e4f;
    padding: 40px 0;
    color: white;
}